h2 {
  font-size: 2em;

}

.crane {
  max-width: 390px;
  margin: 3em 1em;
  text-align: center;

  @media (min-width: 425px) {
    margin: 3em auto;
  }
}

.crane-thumbnail {
  width: 175px;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
}

.crane-details {
  margin: 20px auto;
  text-align: left;

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
