<mat-sidenav-container fullscreen>
  <!--nice side navigation-->
  <mat-sidenav #start>
    <mat-nav-list (click)="start.close()">
      <a mat-list-item routerLink="/cranes">
        <mat-icon>library_books</mat-icon> Cranes
      </a>
      <a mat-list-item routerLink="/login">
        <mat-icon>account_circle</mat-icon> Login
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!--navigation on top of the page-->
  <mat-toolbar color="primary">
    <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>


</mat-sidenav-container>
